/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@import 'fontish';
$wlt-green: #66FF33;
$wlt-purple: #9C27B0;
$wlt-gray: #E6E6E6;

.big_wrap{
	width: 800;
	border: solid;
	margin: 5px;
}

.purple{
	background-color: #9C27B0;
	color: white;
}
.center{
	text-align: center;
}
/* Small devices (tablets, 768px and up)
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
/*@media (min-width: @screen-md-min) { ... }
*/
/* Large devices (large desktops, 1200px and up) */
/*@media (min-width: @screen-lg-min) { ... }*/ 